<!DOCTYPE html>
<html>
    <head>
        <title>Workouts</title>
        <link rel="stylesheet" href="Workout.css" type="text/css" />
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    </head>
    
    <header>
    	<h1>Gourmet Gains</h1>
    </header>
    
    <body>
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><%= link_to 'About', welcome_about_path %></li>
            <li><%= link_to 'Routines', routines_generate_path %></li>
        </ul>
        
        <h1>Workout Routine Generation</h1>
        <br>
        <form>
          <label for="fname">What muscle groups?</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">How many workouts?</label><br>
          <input type="text" id="lname" name="lname">
        </form>
        
       <%= link_to 'Submit', routines_show_path %>
        
       
       <br>
        <footer>
    	    Copyright &copy; 2020 The Gourmet Gains Company<br>
    	    <a href="mailto:GourmetGains@SomeWebsite.com">GourmetGains@SomeWebsite.com</a>
        </footer>    
    
    </body>
</html>