<!DOCTYPE html>
<html>
    <head>
        <title>Workouts</title>
        <link rel="stylesheet" href="Workout.css" type="text/css" />
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    </head>
    
    <header>
    	<h1>Gourmet Gains</h1>
    </header>
    
    <body>
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><%= link_to 'About', welcome_about_path %></li>
            <li><a href = "Login.html"> Login </a></li>
        </ul>
        
        <%= link_to 'New Exercise', new_exercise_path %>
        
        <table className="padding-table-columns">
          <tr>
            <th>Exercise</th>
            <th>Link</th>
            <th>Picture</th>
            <th>Muscle Groups</th>
          </tr>
          <% @exercises.each do |exercise| %>
            <tr>
              <td><%= exercise.title %></td>
              <td><%= exercise.link %></td>
              <td><%= image_tag exercise.picture %></td>
              <td><%= exercise.tags %></td>
            </tr>
          <% end %>
        </table>
       
       <br>
        <footer>
    	    Copyright &copy; 2020 The Gourmet Gains Company<br>
    	    <a href="mailto:GourmetGains@SomeWebsite.com">GourmetGains@SomeWebsite.com</a>
        </footer>    
    
    </body>
</html>