<!DOCTYPE html>
<html>
    <head>
        <title>Workouts</title>
        <link rel="stylesheet" href="Workout.css" type="text/css" />
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    </head>
    
    <header>
    	<h1>Gourmet Gains</h1>
    </header>
    
    <body>
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><%= link_to 'About', welcome_about_path %></li>
            <li><%= link_to 'Routines', routines_generate_path %></li>
        </ul>

      <%= form_for @exercise do |f| %>
       
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>
       
        <p>
          <%= f.label :link %><br>
          <%= f.text_area :link %>
        </p>
        
        <p>
          <%= f.label :picture %><br>
          <%= f.text_area :picture %>
        </p>
        
        <p>
          <%= f.label :tags %><br>
          <%= f.text_area :tags %>
        </p>
       
        <p>
          <%= f.submit %>
        </p>
       
      <% end %>
      
      <%= link_to 'Back', exercises_path %>
      
     <br>
      <footer>
  	    Copyright &copy; 2020 The Gourmet Gains Company<br>
  	    <a href="mailto:GourmetGains@SomeWebsite.com">GourmetGains@SomeWebsite.com</a>
      </footer>
      
    </body>
</html>